@media all and (max-width: 999px)
{
.catalog-element table[cellpadding='2']>tbody{
display: block;
}
.catalog-element table[cellpadding='2'],
.catalog-element table[cellpadding='2']>tr,
.catalog-element table[cellpadding='2']>tr>td,
.catalog-element table[cellpadding='2']>tbody>tr,
.catalog-element table[cellpadding='2']>tbody>tr>td{
width: 100% !important;
display: block;
text-align: center;
}
.catalog-element table[cellpadding='2'] td img {
max-width: 100%;
height: auto;
}
#panel {
display: none;
}
#owl-example.owl-theme .owl-controls .owl-buttons {
display: none;
}
#carusel.owl-theme .owl-controls {
overflow: hidden;
}
#carusel .elem {
text-align: center;
width: 100%;
background:none;
}
.foot_menu {
text-align: left;
}
.catalog_index .elem .pic {
width: auto;
}
.ind_right .main_news .elem,
.ind_right .index_news .elem {
width: 90% !important;
margin: 0 5% !important;
}
.ind_right .main_news .elem p,
.ind_right .index_news .elem p {
width: 75%;
}
.carusel {
width: 100%;
}
}
@media all and (max-width: 760px)
{
#msCart .prod.row div{
text-align:center;
}
.wr {
width:auto !important;
padding-left: 10%;
padding-right: 10%;
}
.top_menu_fon {
padding: 0;
}
.foot table td {
width: 43%;
padding: 0 3% 20px;
}
.carusel.owl-theme .owl-controls .owl-buttons div {
left: -10px;
}
.carusel.owl-theme .owl-controls .owl-buttons div.owl-next {
right: -10px;
}
}
@media all and (max-width: 600px) {
.wr {
padding-left: 5%;
padding-right: 5%;
}
.top_menu_fon {
padding: 0;
}
}
@media (max-width: 482px) {
}
@media all and (max-width: 480px)
{
.in_serv .elem{
width: 90%;
}
.feedback .intext, .feedback textarea{
width: 90% !important;
}
.in_serv{
padding: 20px 0 0;
}
.wr {
padding-left: 5%;
padding-right: 5%;
}
.top_menu_fon {
padding: 0;
}
.foot table td {
width: 93%;
padding: 0 3% 20px;
}
.catalog_index .elem .price {
font-size: 18px;
}
}
@media all and (max-width: 340px) {
.wr {
padding-left: 3%;
padding-right: 3%;
}
.top_menu_fon {
padding: 0;
}
}